.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
}

.audio {
  width: 100vw;
  max-width: 400px;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #757575;
  margin: 50px auto;
}

.audio audio {
  outline: none;
}

.btn {
  padding: 10px;
  margin-bottom: 20px;
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
}
